<body *ngIf="verOn!=false">
  <div *ngIf="validadoOn!=false">
    <div class="container" *ngIf="role?.role=='PACIENTE'">
      <div class="div1">
        <div class="div1-1" routerLink="/cita">
            <h1 class="letra">Pedir cita</h1>
            <p class="letra">Pide cita con nuestros profesionales para saber como te encuentras en todo momento  </p>
        </div>
        <div class="div1-2" routerLink="/datos">
            <h2 class="letra">
                Mis datos
            </h2>
            <p class="letra">Aquí puedes ver tus datos </p>
        </div>
      </div>
      <div class="div2">
        <div class="div2-1" routerLink="/ubicacion">
            <h2 class="letra">Nuesta ubicacion</h2>
            <p class="letra">Aquí tienes nuestra ubicación</p>
        </div>
        <div class="div2-2" routerLink="/citaProxima">
          <h2 class="letra">
            Cita proxima
        </h2>
        <p class="letra">Aquí puedes ver tu próxima cita</p>
        </div>
        <div class="div2-3">
          <div class="div2-3-1" routerLink="/contactanos">
            <h3 class="letra">Contactanos </h3>
            <p class="letra">Contacta con nosotros</p>
          </div>
          <div class="div2-3-2" (click)="cerrarSesion()">
            <h3 class="letra">Cerrar sesión</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="role?.role=='ADMIN'">
      
    </div>
  </div>
    
    <div>
      <app-validate *ngIf="validadoOn!=true"></app-validate>
    </div>
  </body>
  <h1  *ngIf="verOn!=true">No tines permiso para ver esta pagina</h1>