body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px; /* Establece el ancho m치ximo del contenedor */
    background-color: #f9f9f9; /* Establece el color de fondo */
    padding: 20px; /* A침ade relleno al contenedor */
    border-radius: 8px; /* A침ade bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A침ade una sombra */
    margin-left: 20px; /* Alinea el contenedor a la izquierda */
}

.details {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 8px;
    color: #333;
}

p {
    margin: 0;
    color: #666;
}