<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Cita</title>
</head>
<body>
    <div class="container">
        <h2>Detalles de la Cita</h2>
        <div class="details">
        </div>
        <div class="details">
            <h3>Motivos:</h3>
            <p>{{Cita?.motivos}}</p>
        </div>
        <div class="details">
            <h3>Tipo de Cita:</h3>
            <p>{{Cita?.tipoCita?.tipoCitaString}}</p>
        </div>
        <div class="details">
            <h3>Horario:</h3>
            <p>Dia: {{Cita?.horario?.dia}}</p>
            <p>Mes: {{Cita?.horario?.mes}}</p>
            <p>Hora de Inicio: {{Cita?.horario?.horaInicio}}</p>
            <p>Hora Final: {{Cita?.horario?.horaFinal}}</p>
        </div>
        <button onclick="borrarCita()">Borrar Cita</button>
    </div>
</body>
</html>
