body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #0097B2;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color:  #005A6E;
  }
  
  .message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  