<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir Cita</title>
</head>

<body>
  <div class="container">
    <div>
      <h1>Subir Cita</h1>
      <div class="contenedor">
        <div class="left">
          <form [formGroup]="cita">
            <div data-mdb-input-init class="form-outline mb-1">
              <label class="form-label" for="motivos">Motivos</label>
              <input type="text"  class="form-control form-control-lg" formControlName="motivos"/>
            </div>
            <div data-mdb-input-init class="form-outline mb-1" [formGroup]="horario">
              <label class="form-label" for="dia">Día</label>
              <input type="number"  class="form-control form-control-lg" formControlName="dia"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-1" [formGroup]="horario"  >
              <label class="form-label" for="mes">Mes</label>
              <input type="number"  class="form-control form-control-lg" formControlName="mes"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-1" [formGroup]="horario">
              <label class="form-label" for="horaInicio">Hora de Inicio</label>
              <input type="number"  class="form-control form-control-lg" formControlName="horaInicio"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-1" [formGroup]="horario">
              <label class="form-label" for="horaFinal">Hora Final</label>
              <input type="number"  class="form-control form-control-lg" formControlName="horaFinal"/>
            </div>
          </form>
        </div>
        <button (click)="subirCitaP()">Pedir presencial </button> <button (click)="subirCitaT()">Pedir telefonica</button>
      </div>
    </div>
    <div class="logo">
      <img src="../../../../assets/imgs/citaImage.jpg" alt="">
    </div>
  </div>
</body>

</html>
