<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir Cita</title>
</head>

<body>
  <div class="container">
    <div>
      <h1>Subir Cita</h1>
      <div class="contenedor">
        <div class="left">
          <form [formGroup]="cita">
            <div data-mdb-input-init class="form-outline mb-1">
              <label class="form-label" for="motivos">Motivos</label>
              <input type="text" id="motivos" class="form-control form-control-lg" formControlName="motivos"/>
            </div>
            <h6>Tipo de Cita</h6>
            <div class="checkbox-container">
                <input type="checkbox" id="telefonica" class="form-check-input" formControlName="telefonica"
                  (change)="toggleCheckbox('telefonica')" />
                <label class="checkbox-label" for="telefonica">Telefónica</label>
              </div>
  
              <div class="checkbox-container">
                <input type="checkbox" id="presencial" class="form-check-input" formControlName="presencial"
                  (change)="toggleCheckbox('presencial')" />
                <label class="checkbox-label" for="presencial">Presencial</label>
              </div>

            <div data-mdb-input-init class="form-outline mb-1">
              <label class="form-label" for="dia">Día</label>
              <input type="number" id="dia" class="form-control form-control-lg" formControlName="dia"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-1" >
              <label class="form-label" for="mes">Mes</label>
              <input type="number" id="mes" class="form-control form-control-lg" formControlName="mes"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-1">
              <label class="form-label" for="horaInicio">Hora de Inicio</label>
              <input type="number" id="horaInicio" class="form-control form-control-lg" formControlName="horaInicio"/>
            </div>

            <div data-mdb-input-init class="form-outline mb-1">
              <label class="form-label" for="horaFinal">Hora Final</label>
              <input type="number" id="horaFinal" class="form-control form-control-lg" formControlName="horaFinal"/>
            </div>
          </form>
        </div>

      </div>
    </div>
    <div class="logo">
      <img src="../../../../assets/imgs/citaImage.jpg" alt="">
    </div>
  </div>
</body>

</html>
