<body>
    <div class="container">
        <div class="left">
            <h2>Contactanos</h2>
            <form>
                <label for="message">Mensaje:</label><br>
                <input type="text" [(ngModel)]="mensaje" name="mensaje" placeholder="Escribe tu mensaje aqui">
                <button type="submit" (click)="contactar()">Enviar</button>
            </form>
        </div>
        <div class="right">
            <img src="../../../../assets/imgs/contactanos.jpg" alt="alt">
        </div>
    </div>
</body>